* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
}

:root {
  --green: #34CB79;
  --light-green: #E1FAEC;
  --title: #322153;
  --text: #6C6C80;
  --support-text: #A0A0B2;
  --white: white;
  --background: #F0F0F5;
}

@media (max-width: 1080px) {
  html {
    font-size: 93.75%; //15px
  }
}
@media (max-width: 720px) {
  html {
    font-size: 87.5%; //14px
  }
}

body,
input,
textarea {
  font: 400 1rem 'Roboto', sans-serif;
  color: var(--text);
}

//prettier-ignore
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  color: var(--title);
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

button {
  cursor: pointer;
  font: 400 1rem 'Roboto', sans-serif;
  color: var(--white);
}